<mat-card>
  <div class="mat-card-content">
<div class="useCaseSelector">
  <a mat-flat-button data-cy="import" color="primary" routerLink="/workload">Import csv</a>
</div>
<div class="contend">
  <table data-cy="table" *ngIf="workloadList.length > 0">
    <caption>Aktueller Import</caption>
    <tr>
      <th scope="col">Project</th>
      <th scope="col">Sprint</th>
      <th scope="col">Assignee</th>
      <th scope="col">Story Points</th>
    </tr>

    <tr *ngFor="let load of workloadList">
      <td>{{load.project}}</td>
      <td>{{load.sprint}}</td>
      <td>{{load.assignee}}</td>
      <td>{{load.storyPoints}}</td>
    </tr>
  </table>
</div>
  </div>
</mat-card>
