@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 20px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  /*background: whitesmoke;*/
}

.formcontroller, .useCaseSelector, .contend, mat-form-field {
  margin: 5px;
}

caption {
  font-size: large;
  font-weight: bold;
}
