<mat-card>
  <ng-conainer *ngIf="!isLoading">
    <div class="formcontroller">
      <button mat-flat-button color="primary"(click)="capaMonth.open()">Anzeigemonat wählen</button>



      <a mat-flat-button color="primary" routerLink="/massmutation">Mehrere Tage erfassen</a>
      <section>
        <mat-form-field class="hiddenFormfield">
          <input matInput [matDatepicker]="capaMonth">
          <mat-datepicker #capaMonth startView="year" (monthSelected)="selectMonthToShow($event, capaMonth)"></mat-datepicker>
        </mat-form-field>
      </section>


    </div>

<div class="contend">
<table aria-describedby="Capacity">
  <caption>{{intervalOfDates[0] | dfnsFormat: 'MMMM yyyy'}}</caption>
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col" *ngFor="let day of intervalOfDates">{{day | dfnsFormatPure : 'dd. MMM'}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of userList">
      <td class="name">{{user.name}}</td>

    <ng-container *ngFor="let day of intervalOfDates">
      <ng-container *ngFor="let capa of capacitiesToShow; let arrIndex = index;">
        <ng-container *ngIf="capa.user.name === user.name">
          <td *ngIf="!isNotWeekend(day) && compareDates(day, capa.date)" class="weekend"></td>
          <td *ngIf="isNotWeekend(day) && compareDates(day, capa.date)" contenteditable="true" (focus)="onFocus($event.target.innerText)"
              (blur)="onBlur($event.target.innerText, user, capa, arrIndex)">
          {{capa.capa}}
          </td>
        </ng-container>
      </ng-container>
    </ng-container>
  </tr>
  </tbody>
</table>
</div>
  </ng-conainer>

  <img class="loading" *ngIf="isLoading" src="../../assets/images/spinner.gif" height="233" width="414" alt="loading"/>

</mat-card>

