<mat-card>
<mat-form-field>
  <mat-label>Datum</mat-label>
  <input matInput [matDatepicker]="capaMonth" (dateChange)="dateChangeHandler($event)">
  <mat-datepicker-toggle  matSuffix [for]="capaMonth"></mat-datepicker-toggle>
  <mat-datepicker #capaMonth startView="year"></mat-datepicker>
</mat-form-field>
</mat-card>
<mat-card>
<table>
  <tr>
    <th>Name</th>
    <th *ngFor="let day of interval">{{day | dfnsFormatPure : 'dd. MMM'}}</th>
  </tr>

  <tr *ngFor="let user of userList">
      <td>{{user.name}}</td>

    <ng-container *ngFor="let day of interval">

      <ng-container *ngFor="let capa of capacitiesForView">
        <ng-container *ngIf="capa.user.name === user.name">
      <td *ngIf="compareDates(day, capa.date)" contenteditable="true" (focus)="onFocus($event.target.innerText)"
          (blur)="onBlur($event.target.innerText, user, capa)">
          {{capa.capa}}
       </td>
        </ng-container>
      </ng-container>
      </ng-container>
  </tr>
</table>
</mat-card>
<mat-card *ngIf="loading">
  <img src="../../assets/images/spinner.gif" height="233" width="414" alt="loading"/>
</mat-card>
