<mat-card>
<mat-form-field *ngIf="!isLoading">
  <mat-label>Datum</mat-label>
  <input matInput [matDatepicker]="capaMonth" (dateChange)="dateChangeHandler($event)">
  <mat-datepicker-toggle  matSuffix [for]="capaMonth"></mat-datepicker-toggle>
  <mat-datepicker #capaMonth startView="year"></mat-datepicker>
</mat-form-field>

<table *ngIf="!isLoading" aria-describedby="Capacity">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col" *ngFor="let day of intervalOfDates">{{day | dfnsFormatPure : 'dd. MMM'}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of userList">
      <td>{{user.name}}</td>

    <ng-container *ngFor="let day of intervalOfDates">
      <ng-container *ngFor="let capa of capacitiesToShow; let arrIndex = index;">
        <ng-container *ngIf="capa.user.name === user.name">
          <td *ngIf="!isNotWeekend(day) && compareDates(day, capa.date)" class="weekend"></td>
          <td *ngIf="isNotWeekend(day) && compareDates(day, capa.date)" contenteditable="true" (focus)="onFocus($event.target.innerText)"
              (blur)="onBlur($event.target.innerText, user, capa, arrIndex)">
          {{capa.capa}}
          </td>
        </ng-container>
      </ng-container>
    </ng-container>
  </tr>
  </tbody>
</table>
  <a *ngIf="!isLoading" mat-button routerLink="/massmutation">Mehrere Tage erfassen</a>


  <img *ngIf="isLoading" src="../../assets/images/spinner.gif" height="233" width="414" alt="loading"/>
</mat-card>

