table, td, th {border: 1px solid black; padding: 4px; border-collapse: collapse}

.weekend {
  background-color: lightgray ;
}

td {
  text-align: center;
}

button {
  margin-right: 15px;
}

.hiddenFormfield {
  width: 1px;
  height: 1px;
  visibility: hidden
}

.name {
  width: 125px;
  text-align: left;
}
